* {
  margin: 0;
  border: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  height: 60px;
  background-color: #0f1111;
  color: white;
  display: flex;
  align-items: center;
  padding: 5px 5px;
  justify-content: space-evenly;
}
.nav-logo {
  height: 50px;
  width: 113px;
}
.amazon-logo {
  background-image: url(amazon_logo.png);
  background-size: cover;
  height: 50px;
  width: auto;
}
.border {
  border: 1px solid transparent;
}
.border:hover {
  border: 1px solid white;
}
.nav-location {
  height: 50px;
  width: 90px;
  display: flex;
  padding: 0px 9px;
  margin: 5px 2px 5px 0px;
  align-items: center;
}
.location-pin {
  margin: 8px;
  height: 18px;
  width: 15px;
}
.location-text {
  font-size: 0.75rem;
}
.nav-search {
  width: 640px;
  height: 40px;
  display: flex;
  border-radius: 5px;
}
.search-select {
  width: 53px;
  padding: 5px;
  height: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
}
.search-input {
  width: 100%;
  padding: 7px 10px 10px 10px;
  font-size: 1rem;
  border-left: 1px solid gray;
  border: none;
}
.search-icon {
  width: 45px;
  background-color: rgb(255, 136, 0);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
  color: black;
}
.text-small {
  font-size: 0.75rem;
}
.text-bold {
  font-size: 0.8rem;
  font-weight: bold;
}
.nav-signIn {
  width: 114px;
  padding: 0px 9px;
  height: 50px;
}
.nav-returns {
  width: 60px;
  height: 50px;
  padding: 0px 9px;
}
.nav-cart {
  width: 66px;
  height: 50px;
}
.cart-logo-contaner {
  width: 50px;
}
.center-align {
  display: flex;
  align-items: center;
  justify-content: center;
}
.subNav {
  background-color: #0f1111e1;
  padding: 0px 11px;
  height: 39px;
}
.subNav-All {
  width: 41px;
  padding: 8px 9px 8px 9px;
  color: white;
}
.subNav-Options {
  width: 100%;
}
.subNav-shopDeals {
  width: auto;
  color: white;
  text-wrap: nowrap;
}
.anchor-text {
  color: white;
  font-style: normal;
  text-decoration: none;
  padding: 0px 10px;
  width: auto;
}

.heroBanner {
  background-image: url(hero_image.jpg);
  height: 300px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: end;
}
.heroMessage {
  background-color: white;
  height: 30px;
  font-size: 0.8rem;
  color: black;
  width: 80%;
  margin-bottom: 20px;
}
.shop {
  height: 850px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgb(134, 201, 178);
}

.shop-row {
  display: flex;
  justify-content: space-evenly;
}

.shop-box {
  height: 400px;
  width: 23%;
  background-color: white;
}

.box-image {
  height: 330px;
  background-size: cover;
  margin: 0px 10px;
}

h4 {
  margin: 10px 10px 5px 10px;
}

h6 {
  margin: 10px;
}

/* ------------------------------Footer Css---------------------------- */
.footer-panel1 {
  background-color: #37475a;
  color: white;
  height: 40px;
}

.footer-panel2 {
  background-color: #0f1111;
  color: white;
  height: auto;
  width: 100%;
  padding: 50px 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.footer-regular {
  font-size: 1rem;
  padding: 6px 0px;
  color: gray;
}
.footer-Bold {
  font-size: 1rem;
  padding: 10px 0px;
  font-weight: bolder;
  color: gray;
}
.footer-list {
  width: 23%;
}

.footer-panel3 {
  height: 100px;
  background-color: #0f1111;
  border-top: 1px solid gray;
  width: 100%;
}

.footer-panel4 {
  height: 100px;
  background-color: #0f1111;
  width: 100%;
  color: white;
}
